<div class="container position-relative">

                    <div class="row">

                        <!-- Section Text -->
                        <div class="col-lg-12 d-flex align-items-center order-first order-lg-last mb-md-5 mb-sm-3 px-4 px-md-1">
                            <div class="w-100">

                                <h2 class="section-caption-slick mb-3 mb-sm-2">
                                        Privacy Policy
                                    </h2>


                                <p class="py-4">
                                    Elanistech Private Limited (hereinafter referred to as ’We/Our/Elanistech/Company’) is a fintech company providing digital banking solutions to our customers (hereinafter referred to as ’Customer/You/Your/User’). Elanistech is committed to the security of your privacy, confidentiality and personal information that resides with the Company. Keeping personal information of customers secure and preventing any misuse, is of paramount importance to the Company.
                                    <br>
                                    <br> This Privacy &amp; Security Policy (hereinafter referred to as ’Privacy Policy’) describes how Elanistech collects and handles information it may collect and/or receive from you, via the use of this Website (www.nivicap.com) and Mobile application available for download at app and play stores (Website and the Mobile Applications are collectively referred to as ‘Website’).
                                    <br>
                                    <br>This Privacy Policy applies to current and former visitors to our Website. By visiting and/or using/downloading our Website, you are accepting and consenting to the practices described in this Privacy Policy. The statements &amp; procedures mentioned under this Privacy Policy must be read in conjunction with our general term &amp; conditions available at the Website.
                                    <br>
                                    <br>This Privacy Policy is published and shall be construed in accordance with the provisions of Information Technology Act, 2000 and rules made thereunder including theInformation Technology (Reasonable security practices and procedures and sensitive personal data or information) Rules, 2011, and Digital Personal Data Protection Act, 2023 as amended and other applicable law enacted from time to time. You accept this Privacy Policy when you visit our Website, sign up for, access, or use our products, services, content, features, technologies, or functions offered on our Website and all related sites, applications, and services (collectively referred to as ’Elanistech Services’).
                                </p>


                                <h2 class="section-caption-slick mb-3 mb-sm-2">
                                       1) POLICY REVIEW, UPDATES, AND APPLICATION
                                    </h2>


                                <p class="py-4">
                                    This Privacy Policy applies to the Personal Information (which means any information/ document/ detail that relates to a natural person, which, in combination with other information available with Elanistech, could identify such person) and such other information as mentioned section 2) of this Privacy Policy.
                                    <br>
                                    <br> This Privacy Policy is intended to govern the use of Elanistech Services by our Customers (including, without limitation, all users of Elanistech Services) unless otherwise agreed through contract. We may amend this Privacy Policy at any time by posting a revised version on our Website. The revised version will supersede all previous versions and automatically become effective as of the publication date.
                                </p>


                                <h2 class="section-caption-slick mb-3 mb-sm-2">
                                        2) INFORMATION COLLECTED
                                    </h2>


                                <p class="py-4"> We collect the following types of personal information to provide you with the use of Elanistech Services, and to help us personalize and improve your experience.
                                    <br>
                                    <br> a. Device Information - When you use Elanistech Services, we collect information sent to us by your computer, mobile phone, or other access device. The information sent to us includes, but is not limited to, the following: data about the pages you access, computer IP address, device ID or unique identifier, device type, geo-location information, computer and connection information, mobile network information, mobile application interactions, mobile application crash logs and diagnostics, statistics on page views, traffic to and from the sites, referral URL, ad data, and standard web log data and other information.

                                    <br>
                                    <br> b. Cookies - We also collect anonymous information through our use of cookies and web beacons. We may collect and store any information you provide us when you use Elanistech Services, including when you add information on a web form, add or update your account information, participate in community discussions, chats, or dispute resolutions, or when you otherwise correspond with us regarding Elanistech Services.

                                    <br>
                                    <br> c. Credit information – Your Credit Information (credit score and credit information report) is procured through a ‘soft search’ of your credit records with Credit Information Companies ‘CICs’ and Elanistech has no control over the content or accuracy of information provided in your credit information by CICs. Elanistech gets this information from CIC for and on your behalf only when you agree to appoint Elanistech as your lawfully appointed authorized agent/ representative for collecting your credit information from CICs. By consenting to use and avail your credit information report through Elanistech, you agree that Elanistech and CICs shall be entitled to rely on your authorization and consent granted by you to Elanistech.

                                    <br>
                                    <br> d. Other general information (including personal information) – When you use Elanistech Services, we also collect information about your transactions and your activities.


                                    <br>
                                    <br> e. In addition, if you open a Elanistech account or use Elanistech Services, we may collect the following types of information:

                                    <br>
                                    <br> I. Contact information, such as your name, address, phone, email, and other similar information.

                                    <br>
                                    <br>II. Financial information, such as the full bank account numbers, purchase history, and card numbers that you link to your Elanistech account or give us when you use Elanistech Services.

                                    <br>
                                    <br> III. Detailed personal information such as your date of birth or national ID number.

                                    <br>
                                    <br> IV. Income proof, PAN, credit score, credit information report, e-KYC through UIDAI, EPFO details, CKYC details.

                                    <br>
                                    <br> V. We may also collect information from or about you from other sources, such as through your contact with us, including our customer support team, your results when you respond to a survey, your interactions with members of the Elanistech team or affiliate companies (subject to their privacy policies and applicable law), and from other accounts we have reason to believe you control (whether in part or whole).

                                    <br>
                                    <br>VI. Additionally, for quality and training purposes or for its own protection, Elanistech may monitor or record telephone conversations with you or anyone acting on your behalf. By communicating with Elanistech, you acknowledge that your communication may be overheard, monitored, or recorded without further notice or warning.

                                    <br>
                                    <br> VII. After obtaining the User’s specific consent to allow the App to access the User’s SMS/MMS inbox, we may collect relevant information from text messages (SMS), multimedia messages received by the Users from providers of services and/or products (including but not limited to retail outlets, financial institutions, mobile carriers, and utility companies), that will enable us to provide better access to financial services and products to the Users. We may use the collected data for the purpose of Personal Financial Management (PFM) to enhance user experience. We will only access business messages that originate from alphanumeric senders.

                                    <br>
                                    <br> VIII. To help protect you from fraud and misuse of your personal information, we may collect information about you and your interactions with Elanistech Services. We may also evaluate your computer, mobile phone, or other access device to identify any malicious software or activity.

                                    <br>
                                    <br>IX. We may offer you the ability to connect with Elanistech Services using a mobile device, either through a mobile application or via a mobile optimized website. The provisions of this Privacy Policy apply to all mobile access and use of mobile devices.

                                    <br>
                                    <br>X. When you download or use our mobile applications, or access one of our mobile optimized sites, we may receive information about your location and your mobile device, including a unique identifier for your device. We may use this information to provide you with location-based services, such as advertising, search results, and other personalized content. Most mobile devices allow you to control or disable location services in the device’s settings menu. If you have questions about how to disable your device’s location services, we recommend you contact your mobile service carrier or the manufacturer of your device.

                                    <br>
                                    <br>XI. You may be requested to upload photos, documents, and files to the mobile application and provide us access to such information.

                                    <br>
                                    <br>XII. We collect information about the installed apps on your device to detect, warn and/or prevent you from malicious or screen recording apps installed on your device which may impact your privacy or security by stealing your confidential data. </p>



                                <h2 class="section-caption-slick mb-3 mb-sm-2">
                                       3) EXPRESS CONSENT
                                    </h2>

                                <p class="py-4">
                                    You expressly consent to Elanistech (including its affiliate companies, marketing channels and business partners) utilizing the details/documents/information mentioned above under section (ii) for the purpose stated under this Privacy Policy.

                                    <br>
                                    <br> You expressly consent to Elanistech (including its affiliate companies, marketing channels and business partners) contacting you through SMS, call and/ or e-mail in relation to the Elanistech Services provided through the Website, for imparting product knowledge, and providing details of relevant promotions offered. You authorize and expressly consent to us sharing Personal information with relevant third parties including, but not limited to: Elanistech’s affiliate companies, Banks, credit information bureaus, and government agencies for compliance and where needed to provide the services availed.

                                    <br>
                                    <br>You hereby grant your unambiguous, and express consent to authorize and appoint Elanistech and its affiliate companies to request and obtain, collect, receive and/or fetch your credit score and/ or a copy of your credit information report from CIC, on your behalf for the purpose stated under this Privacy Policy.

                                    <br>
                                    <br>You hereby grant explicit consent to Elanistech and the Regulated Entities (as defined by ‘concerned regulators’) to use your personally identifiable information to assess your Credit worthiness for offering various financial services in relation to lending. </p>




                                <h2 class="section-caption-slick mb-3 mb-sm-2">
                                      4) WITHDRAWAL OF CONSENT
                                    </h2>
                                <p class="py-4">
                                    If at any time, you have concerns or wish to withdraw your consent, you can reach out to us at privacy@nivicap.com and the respective team will get back to you within two (2) business days.
                                    <br>
                                    <br> You also agree that not providing consent, or withdrawing consent during the tenure of service, Elanistech reserves the right to stop providing the services for which the said information and/or data was sought.
                                    <br>
                                    <br> You may also request for deletion of data by placing a request for the same. </p>


                                <h2 class="section-caption-slick mb-3 mb-sm-2">
                                      5) PURPOSE OF COLLECTING THE DATA
                                    </h2>

                                <p class="py-4">
                                    Our primary purpose in collecting personal information is to provide you with a secure, smooth, efficient, and customized experience. We may use your personal information to:
                                    <br>
                                    <br> a. provide Elanistech Services and customer support; process transactions and send notices about your transactions; verify your identity, including during account creation and password reset processes.
                                    <br>
                                    <br> b. resolve disputes, collect fees, and troubleshoot problems; manage risk, or to detect, prevent, and/or remediate fraud or other potentially prohibited or illegal activities; detect, prevent, or remediate violations of policies or applicable user agreements; improve the Elanistech Services by customizing your user experience; measure the performance of the Elanistech Services and improve their content and layout.
                                    <br>
                                    <br> c. manage and protect our information technology infrastructure; provide targeted marketing and advertising, provide service update notices, and deliver promotional offers based on your communication preferences; contact you at any telephone number, by placing a voice call or through text (SMS) or email messaging, as authorized by our User Agreement; perform creditworthiness and solvency checks, and compare information for accuracy and verify it with third parties.
                                    <br>
                                    <br> d. We will also use the User information to enable activities and transactions that need to occur during the process of lending, such as: I. Generating and maintaining User profiles on the App.
                                    <br> II. Provide personalized features.
                                    <br> III. Aiding financial services organizations to provide better services.
                                    <br> IV. Facilitating collection activities as needed.
                                    <br> V. Maintaining regular communications with the User concerning transactions the User initiates, such as requesting information or assistance, submitting a loan request, making payments, transferring funds, etc.
                                    <br> VI. Modifying the App from time to time to cater to the User’s interests.
                                    <br> VII. Providing the App and the functions and features therein, efficiently.
                                    <br> VIII. Preserve social history as governed by existing law or policy.
                                    <br>
                                    <br> e. Certain personally identifiable information of the User shall be shared with Regulated Entities (as defined by RBI and other regulatory and statutory authorities) to assess the credit worthiness of the Customer for provision of certain financial services and products (more specifically lending products) offered by the Regulated Entities. </p>




                                <h2 class="section-caption-slick mb-3 mb-sm-2">
                                       6) REASONABLE SECURITY PRACTICES FOR PROTECTION OF PERSONAL INFORMATION
                                    </h2>

                                <p class="py-4"> Throughout this Privacy Policy, we use the term ‘personal information’ to describe information that can be associated with a specific person and can be used to identify that person. We do not consider personal information to include information that has been made anonymous so that it does not identify a specific user.
                                    <br>
                                    <br>We store and process your personal information on our computers where our facilities are located. We protect your information using physical, technical, and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure, and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centres, and information access authorization controls.
                                    <br>
                                    <br>We have fully ensured that the reasonable security practices adapted by Elanistech are fully in compliant with the applicable laws and at par with the industry standards. </p>



                                <h2 class="section-caption-slick mb-3 mb-sm-2">  7) SHARING OF PERSONAL INFORMATION ALONG WITH PURPOSE OF SHARING </h2>

                                <p class="py-4">

                                    Elanistech will not sell or rent your personal information to anyone, for any reason, at any time. However, we will be sharing your Personal information with our affiliates and business partners where we feel that you will be assisted better for the purpose of availing the Elanistech Services. We may share your information with:
                                    <br>
                                    <br> a. Elanistech’s affiliate companies, to provide joint content, products, and services (such as registration, transactions, and customer support), to help detect and prevent potentially illegal acts and violations of our policies, and to guide decisions about their products, services, and communications. Elanistech’s affiliate companies will use this information to send you marketing communications only if you have requested their services.
                                    <br>
                                    <br>b. Financial institutions that we partner with to jointly create and offer a product. These financial institutions may only use this information to market Elanistech- related products unless you have given consent for other uses.
                                    <br>
                                    <br>c. Credit bureaus and collection agencies to report account information, as permitted by law.
                                    <br>
                                    <br>d. Banking partners as required by credit card association rules for inclusion on their list of terminated merchants (if you meet their criteria which includes having Elanistech close your Elanistech account due to your breach of Elanistech’s User Agreement).
                                    <br>
                                    <br>e. Companies that we plan to merge with or acquire. (Should such a combination occur, we will require that the new combined entity follow this Privacy Policy with respect to your personal information. If your personal information could be used contrary to this policy, you will receive prior notice.)
                                    <br>
                                    <br> f.Law enforcement, government officials, or other third parties pursuant to a subpoena/ summon, court order, or other legal process or requirement applicable to Elanistech or one of its affiliates; when we need to do so to comply with law or debit/ credit card rules; or when we believe, in our sole discretion, that the disclosure of personal information is necessary to prevent physical harm or financial loss, to report suspected illegal activity or to investigate violations of our Terms and Conditions/User Agreement.

                                    <br>
                                    <br> g. Other unaffiliated third parties, for the following purposes:
                                    <br>I. Fraud Prevention and Risk Management: to help prevent fraud or assess and manage risk. For example, if you use the Elanistech Services to buy or sell goods, we may share account information to help protect your account from fraudulent activity, alert you if we detect such fraudulent activity on your accounts or evaluate credit risk.

                                    <br>
                                    <br>II. As part of our fraud prevention and risk management efforts, we also may share necessary account information in cases where Elanistech has placed a hold or other restriction on your Account based on disputes, claims, chargebacks or other scenarios regarding the sale or purchase of goods. Also, as part of our fraud prevention and risk management efforts, we may share account information to enable them to operate their programs for evaluating buyers or sellers.
                                    <br>
                                    <br> III. Customer Service: for customer service purposes, including to help service your accounts or resolve disputes (e.g., billing, or transactional).
                                    <br>
                                    <br> IV. Shipping: in connection with shipping and related services for purchases made using Elanistech.
                                    <br>
                                    <br> V. Legal Compliance: to help them comply with anti-money laundering and counter-terrorist financing verification requirements.
                                    <br>
                                    <br>VI. Service Providers: to enable service providers under contract with us to support our business operations, such as fraud prevention, bill collection, KYC document collection, marketing, customer service and technology services. Our contracts dictate that these service providers only use your information in connection with the services they perform for us and not for their own benefit.
                                    <br>
                                    <br>VII. Other third parties with your consent or direction to do so.
                                </p>



                                <h2 class="section-caption-slick mb-3 mb-sm-2">  8) COOKIES POLICY </h2>
                                <p class="py-4">
                                    We use data collection devices such as ‘cookies’ on certain pages of the app to help analyse our app page flow, measure promotional effectiveness, and promote trust and safety. ‘Cookies’ are small files placed on your device hard-drive/storage that assist us in providing our services. We offer certain features that are only available by using a ‘cookie.’</p>



                                <h2 class="section-caption-slick mb-3 mb-sm-2"> 9) RETENTION OF DATA</h2>
                                <p class="py-4">
                                    Elanistech will retain your information for as long as it is necessary for providing you the Elanistech Services available on the Website or you request for termination of your account with Elanistech, whichever is later. Furthermore, Elanistech may also be required to retain certain information under the applicable law and/or as part of its contractual obligations with associated Banks/Financial Institutions and accordingly such information shall be retained as prescribed under the applicable law or part of Elanistech’s contractual obligation.
                                    <br>
                                    <br> Post termination of your relationship, Elanistech may continue to use your anonymized data aggregated or in combination with anonymized data of other users. We use this aggregated anonymized data for data analysis, profiling, and research purposes, for example to gain insights about our users and their profiles. We may keep your contact information along with your application details (if any) for fraud prevention purposes and for the exercise/ defence of a legal claim or for providing evidence in legal proceeding(s).</p>


                                <h2 class="section-caption-slick mb-3 mb-sm-2">   10) LINK TO OTHER PLATFORMS </h2>
                                <p class="py-4">
                                    Our app links to other platforms that may collect personally identifiable information about you. The personally identifiable information that you may share with such other platforms shall be governed by the respective privacy policies and terms of use. We recommend you familiarise yourself with such policies. Elanistech is not responsible for the privacy practices or the content of those linked platforms.
                                </p>


                                <h2 class="section-caption-slick mb-3 mb-sm-2">   11) IMPORTANT DISCLAIMERS </h2>
                                <p class="py-4">
                                    If you request for opening a Elanistech account directly on a third-party website or via a third-party application, any information that you enter on that website or application (and not directly on a Elanistech website) will be shared with the owner of the third-party website or application. These sites are governed by their own privacy policies, and you are encouraged to review their privacy policies before providing them with personal information. Elanistech is not responsible for the content or information practices of such third parties.
                                    <br>
                                    <br> Elanistech is committed to adequately protecting your personal information regardless of where the data resides and to providing appropriate protection for your personal information. You can also request for closure of your account through the Elanistech Customer Service Centre.
                                    <br>
                                    <br>If you close your Elanistech account, we will mark your account in our database as ‘Closed,’ but may retain personal information from your account for a certain period to collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, prevent fraud, enforce our Terms and Conditions/User Agreement, or take other actions as required or permitted by law.
                                    <br>
                                    <br>If you choose to use our referral service to tell a friend about the Website or the Elanistech Services, we may ask you for your friend’s name, phone number and email address. We will automatically send your friend a message inviting him or her to visit the Website. We store this information for the sole purpose of sending this message and tracking the success of our referral program.
                                </p>


                                <h2 class="section-caption-slick mb-3 mb-sm-2">   12) COMPLIANCE AND ADHERENCE </h2>
                                <p class="py-4">
                                    Elanistech (Elanistech Private Limited) has implemented the required Information Systems Management System to enforce standard policies, procedures, and related controls across the organization as per industry standard and best practices to protect the interest of Business, Partners, and Customer Data.


                                </p>


                                <h2 class="section-caption-slick mb-3 mb-sm-2">   13) CONTACT US OR GRIEVANCE REDRESSALE</h2>
                                <p class="py-4">
                                    If you have grievance or complaint, questions, comments, concerns, or feedback in relation to the processing of information or regarding this Privacy and Security Policy or any other privacy or security concern, send an e-mail to privacy@nivicap.com.
                                    <br>
                                    <br> Elanistech will only act upon requests that you will directly send to us. If we reasonably believe that a communication (i.e., email, call, etc.) is not made by you out of your own volition or is sent from an automated application, website or computer resource purporting to be a message from you then we reserve the right to refrain from acting upon any such communication including any request for withdrawal of consents, deleting information, deactivating the Elanistech Services or account, or anything pertaining to your relationship with us.


                                </p>



                                <h2 class="section-caption-slick mb-3 mb-sm-2">   14) NOTICE AND EFFECTIVE DATE</h2>
                                <p class="py-4">
                                    The effective date of this Policy, as stated below, indicates the last time this Policy was revised or materially changed.
                                    <br>
                                    <br> Last Updated Date: 1st July 2024


                                </p>




                            </div>
                        </div>
                        <!-- End Section Text -->


                    </div>

                </div>