<div class="container" *ngIf="router.url === '/terms-condition' || router.url === '/privacy-policy'">
  <nav class="navbar navbar-expand-lg navbar-light bg-white  bottom-nav fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
      <div class="nav-logo d-flex align-items-center" routerLink="/">
        <img src="assets/images/logo.svg" alt="logo" class="logo" width="41" height="50">
        <span class="logo-label">nivi capital</span>

      </div>
      <!-- Toggle Button (for mobile) -->

      <button class="navbar-toggler" routerLink="/" type="button" (click)="toggleNavbar()"
        [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarNav3" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarNav3" class="collapse navbar-collapse justify-content-end" [class.show]="!isNavbarCollapsed">
        <div class="right-bar">


          <ul class="navbar-nav align-items-center justify-content-center mb-2 mb-lg-0 ">
            <li class="nav-item mx-2" [class.active]="activeSection === 'home'">
              <a class="nav-link nav-label " (click)="goToSection('home')">HOME</a>
            </li>
            <li class="nav-item mx-2" [class.active]="activeSection === 'about'">
              <a class="nav-link nav-label" (click)="goToSection('about')">ABOUT US</a>
            </li>
            <li class="nav-item mx-2" [class.active]="activeSection === 'features'">
              <a class="nav-link nav-label" (click)="goToSection('features')">FEATURES</a>
            </li>
            <li class="nav-item mx-2" [class.active]="activeSection === 'product'">
              <a class="nav-link nav-label" (click)="goToSection('product')">PRODUCT</a>
            </li>
            <li class="nav-item mx-2" [class.active]="activeSection === 'contact'">
              <a class="nav-link nav-label" (click)="goToSection('contact')">CONTACT</a>
            </li>

          </ul>
          <div class="btn d-none d-lg-block d-flex justify-content-end p-0">

            <a href="#" class="btn btn-danger px-4 py-2">Download APP</a>

          </div>
        </div>
      </div>
    </div>
  </nav>

</div>
<div class="page-content" [class.content-margin]="isContentPage()">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer-section py-5">
  <div class="common-container footermain">
    <div class="footer1">
      <div class="row footer-row1 d-flex flex-row">
        <!-- Left Column - Company Info -->
        <div class="col-lg-8 col-md-6 col-12 d-flex justify-content-between gap-4 gap-md-4">
          <div class="logo-text">
            <div class="footer-logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="41" height="50" viewBox="0 0 41 50" fill="none">
                <path
                  d="M31.1999 12.2233C31.1999 12.2233 30.1136 18.4554 28.0709 18.4554C24.7467 18.4554 17.1486 0 10.6434 0C-1.77512 0 -3.79825 49.2902 7.07851 49.2902C11.5021 49.2902 16.6542 38.0817 17.2332 35.7788C16.5371 34.751 15.9451 33.9248 15.2621 33.0336C14.4489 35.1478 9.98635 42.0824 7.65097 42.0824C1.86131 42.0824 4.30077 8.80159 11.8208 8.80159C16.0622 8.80159 23.205 23.7766 27.3618 23.7766C29.5671 23.7766 31.1999 20.6541 31.1999 12.2298V12.2233Z"
                  fill="#0D4473" />
                <path
                  d="M9.4525 37.0669C9.4525 37.0669 10.5389 30.8348 12.5815 30.8348C15.9057 30.8348 23.4973 49.2902 30.0026 49.2902C42.4211 49.2902 44.4442 0 33.5674 0C29.1439 0 23.9917 11.2085 23.4127 13.5114C24.1088 14.5392 24.7008 15.3654 25.3838 16.2566C26.197 14.1424 30.6596 7.2078 32.995 7.2078C38.7846 7.2078 36.3452 40.4886 28.8251 40.4886C24.5837 40.4886 17.4409 25.5135 13.2841 25.5135C11.0788 25.5135 9.446 28.6361 9.446 37.0603L9.4525 37.0669Z"
                  fill="#F33B48" />
              </svg>
              <span class="logo-label">nivi capital</span>
            </div>
            <p class="footer-description feature-head">
              Nivi Capital is as one-stop digital platform offering end-to-end<br class="d-none d-sm-block"> financial
              solutions for Indian
              students
              going to study in Australia.
            </p>
          </div>
          <div class="footer-contact d-flex gap-md-4">
            <div class="">

              <a href="tel:+912240996484">T. +91 22 4099 6484 </a>
            </div>
            <span> | </span>
            <div class="">

              <a href="mailto:info@nivicap.com"> E. info@nivicap.com</a>
            </div>
          </div>
        </div>

        <!-- Middle Column - Quick Links -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="quick-links-gap">
            <h6 class="quick-links-title quick-footer-contact footer-contact">Quick Links</h6>
            <ul class="quick-links-list  ">
              <li><a class="text-normal" routerLink="/">HOME</a></li>
              <li><a class="text-normal" (click)="goToSection('about')">ABOUT</a></li>
              <li><a class="text-normal" (click)="goToSection('features')">FEATURES</a></li>
              <li><a class="text-normal" (click)="goToSection('product')">PRODUCTS</a></li>
              <li><a class="text-normal" (click)="goToSection('contact')">CONTACT US</a></li>
            </ul>
          </div>

          <div class="d-flex footer-app-buttons mt-4 mt-lg-0 ">

            <a href="https://nivicap.com/"><img class="footer-link-img" src="assets/images/appleapp.svg"> </a>
            <a href="https://nivicap.com/"><img class="footer-link-img" src="assets/images/googleapp.svg"> </a>

          </div>
        </div>
      </div>
      <hr class="hr-line">
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row align-items-center">
          <div class="col-md-4 mb-2 mb-md-0">
            <span class="selectedtab-label">©2025 Nivi Capital | All Rights Reserved.</span>
          </div>
          <div class="col-md-4 mb-2 mb-md-0">
            <div class="social-icons justify-content-md-center">
              <a href="https://www.linkedin.com/company/nivicapital/" class="social-icon linkedin" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="8" fill="#007BB5" />
                  <path d="M14.375 15.625H10V30H14.375V15.625Z" fill="white" />
                  <path
                    d="M25.0019 15.625C22.5 15.625 21.8063 16.445 21.25 17.5V15.625H16.875V30H21.25V21.875C21.25 20.625 21.25 19.375 23.4375 19.375C25.625 19.375 25.625 20.625 25.625 21.875V30H30V21.875C30 18.125 29.375 15.625 25.0019 15.625Z"
                    fill="white" />
                  <path
                    d="M12.1875 14.375C13.3956 14.375 14.375 13.3956 14.375 12.1875C14.375 10.9794 13.3956 10 12.1875 10C10.9794 10 10 10.9794 10 12.1875C10 13.3956 10.9794 14.375 12.1875 14.375Z"
                    fill="white" />
                </svg>
              </a>
              <a href="https://www.facebook.com/profile.php?id=61583499338803" class="social-icon facebook"
                target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="23" viewBox="0 0 12 23" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.8472 0.162289V3.783L9.69823 3.7886C8.01377 3.7886 7.68919 4.58885 7.68919 5.75844V8.34946H11.7017L11.1812 12.4011H7.68919V22.9442H3.50378V12.4011H0V8.34946H3.50378V5.36112C3.50378 1.8915 5.61859 0 8.71889 0C10.1968 0 11.4722 0.111923 11.8472 0.162289Z"
                    fill="white" />
                </svg>
              </a>
              <a href="https://x.com/nivicapital" class="social-icon twitter" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M4.22575 2.9556L18.0142 21.0579H19.83L6.0415 2.9556H4.22575ZM0.542969 1.13184H6.94483L23.5117 22.8816H17.1108L0.542969 1.13184Z"
                    fill="white" />
                  <path
                    d="M21.4007 1.13184L14.1718 10.6216L13.0816 9.1897L19.2192 1.13188H21.4007V1.13184ZM10.9715 14.8238L4.83386 22.8816H2.65234L9.88122 13.3919L10.9715 14.8238Z"
                    fill="white" />
                </svg>
              </a>
              <a href="https://www.instagram.com/nivicapital?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                class="social-icon instagram" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <g clip-path="url(#clip0_2351_7596)">
                    <path
                      d="M5 0H35C37.75 0 40 2.25 40 5V35C40 37.75 37.75 40 35 40H5C2.25 40 0 37.75 0 35V5C0 2.25 2.25 0 5 0Z"
                      fill="url(#paint0_linear_2351_7596)" />
                    <path
                      d="M26.5 6.25H13.5C9.5 6.25 6.25 9.625 6.25 13.625V26.375C6.25 30.375 9.5 33.75 13.5 33.75H26.5C30.5 33.75 33.75 30.375 33.75 26.375V13.625C33.75 9.625 30.5 6.25 26.5 6.25ZM31.25 26.125C31.25 28.875 29 31.25 26.25 31.25H13.75C11 31.25 8.75 28.875 8.75 26.125V13.75C8.75 11 10.875 8.75 13.75 8.75H26.25C29 8.75 31.25 11.125 31.25 13.875V26.125Z"
                      fill="white" />
                    <path
                      d="M19.9997 12.9997C16.1247 12.8747 12.8747 15.9997 12.7497 19.8747C12.6247 23.7497 15.7497 26.9997 19.6247 27.1247C23.4997 27.2497 26.7497 24.1247 26.8747 20.2497V20.1247C26.9997 16.1247 23.8747 12.9997 19.9997 12.9997ZM19.9997 24.4997C17.4997 24.4997 15.3747 22.4997 15.3747 19.9997C15.3747 17.4997 17.3747 15.3747 19.8747 15.3747C22.3747 15.3747 24.4997 17.3747 24.4997 19.8747V19.9997C24.4997 22.4997 22.4997 24.4997 19.9997 24.4997Z"
                      fill="white" />
                    <path
                      d="M27.25 14.125C28.0784 14.125 28.75 13.3975 28.75 12.5C28.75 11.6025 28.0784 10.875 27.25 10.875C26.4216 10.875 25.75 11.6025 25.75 12.5C25.75 13.3975 26.4216 14.125 27.25 14.125Z"
                      fill="white" />
                  </g>
                  <defs>
                    <linearGradient id="paint0_linear_2351_7596" x1="7.25438" y1="42.076" x2="32.7456" y2="-2.076"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FEC053" />
                      <stop offset="0.327" stop-color="#F2203E" />
                      <stop offset="0.648" stop-color="#B729A8" />
                      <stop offset="1" stop-color="#5342D6" />
                    </linearGradient>
                    <clipPath id="clip0_2351_7596">
                      <rect width="40" height="40" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-2 mb-md-0">
            <div class="footer-links justify-content-md-end">
              <a class="selectedtab-label" routerLink="/terms-condition">Terms of Service</a>
              <a class="selectedtab-label" routerLink="/privacy-policy">Privacy Policy</a>
              <!-- <a class="selectedtab-label" href="#cookies">Cookies</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-line">
    <!-- Legal Text -->
    <div class="footer-text ">
      <p>Elanistech Private Limited ('Company'), (CIN) U72900KA2019PTC127223 is trading as Nivi Capital (brand name).
      </p>

      <p class="mb-2">‘Nivi Capital, ‘Nivi Pay’, ‘Nivi Loans’ are the brands, products and trademarks owned and
        operated by Elanistech Private Limited (‘Company’). The information provided by the Company (“we,” “us” or
        “our”) on nivicap (the “Site”) and our mobile application is for general informational purposes only. All
        information on the Site and our mobile application is provided in good faith, however we make no
        representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity,
        reliability, availability or completeness of any information on the Site or our mobile application. Under no
        circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the
        use of the site or our mobile application or reliance on any information provided on the site and our mobile
        application. Your use of the site and our mobile application and your reliance on any information on the site
        and our mobile application is solely at your own risk.</p>

      <p class="mb-2">Nivi Capital is not a bank and does not hold a banking or lending license. All lending products
        are underwritten by our banking partner. The use of the term 'Banking', if used anywhere, is without the
        approval of RBI and is only to indicate the services Nivi Capital intends to offer to its retail customers.
      </p>

      <p class="mb-0">Nivi Capital Ltd acknowledges the proprietary rights of other companies to the trademarks,
        product names and such other intellectual property rights mentioned on our website.</p>

      <p class="mt-3 mb-0">©2025 Nivi Capital | All Rights Reserved.</p>
    </div>

  </div>
</footer>