<div class="common-container">

    <div class="row">

        <!-- Section Text -->
        <div class="col-lg-12 d-flex align-items-center order-first order-lg-last mb-md-5 mb-sm-3 px-4 px-md-1">
            <div class="w-100">

                 <div class="text-center selected-tab  align-items-center d-flex flex-column gap-3">
                    <h3 class="selectedtab-head-text">
                        Terms <span style="color: #F8192A;font-weight: 700;"> &amp; Conditions</span>
                    </h3>
                    <p class="text-common">Last Updated Date: 1st July 2024</p>
                </div>

               


                <p class="py-4 nav-label">
                    This document (hereinafter referred to as ‘Agreement’) records the Terms and conditions that apply
                    to the access and use of the Website ‘www.Elanistech.in‘ and its Mobile Applications i.e.,
                    Elanistech, and all related applications, available at android and iOS platforms (collectively be
                    referred to as ‘Website’), which is managed and operated by Elanistech Private Limited, (hereinafter
                    collectively be referred to as ‘Company’ or ‘Elanistech’ or ‘We’ or ‘Our’ or ‘Us’), incorporated
                    under the laws of India and registered under the Companies Act, 2013.
                    <br>
                    <br> By accessing the Website or registering your information on the Website or availing the
                    services of the Company, the users (hereinafter referred to as ‘you’ or ‘your’ or ‘Customer’ or
                    ‘user’) agree to be bound by these Terms &amp; Conditions (‘T&amp;C’ or ‘Terms’ or ‘Terms and
                    Conditions’). These T&amp;C’s along with our Privacy Policy describes our relationship with you and
                    you will be subject to the rules, guidelines, policies, terms, and conditions applicable to any
                    specific Service that is provided through Elanistech’s Website and they shall be deemed to be
                    applicable and incorporated into this T&amp;C.
                    <br>
                    <br> You accept these T&amp;C when you visit our Website, sign up for, access, or use our products,
                    services, content, features, technologies, or functions, offered on our Website and all related
                    sites, applications, and services (collectively referred to as ‘Services’ or ‘Elanistech Services’).
                    You understand and agree that Elanistech will consider your use of our Services as acceptance of
                    these Terms &amp; Conditions. You may not access or utilize any of our Services if you do not agree
                    to be bound by these Terms &amp; Conditions and the Privacy Policy.
                    <br>
                    <br>Elanistech reserves the right at any time, and at its sole discretion, to amend or otherwise
                    modify these T&amp;C without prior notice, and your continued access or use of this Website
                    signifies your acceptance and agreement of the updated or modified T&amp;C.
                </p>


                <div class="selected-tab d-flex">
                    <h2 class=" mb-3 mb-sm-2 selectedtab legal-subhead">
                       Elanistech Products and Services
                    </h2>
                    </div>
                


                <p class="py-4 nav-label content-paragraph">
                    <b> Elanistech Mobile-only Digital Transaction Account / APP </b>
                    
                    <br>
                     The purpose of the Elanistech Digital Payments Platform is to keep track of and manage your
                    personal finances, budgeting, and spending. The Company offers You a mobile-only digital transaction
                    banking account via an android and iOS app, which can be used in India for QR-code based purchases
                    and to send and receive funds, split bills, and request funds between users.
                    <br>
                    <br>

                    <b> Elanistech Australian Education Abroad Loans </b>
                    <br> Elanistech, in partnership with IDFC First Bank Limited (‘IDFC’), facilitates a digital lending
                    service for the purpose of International Student Education Funding, for Indian Students completing
                    their tertiary and higher education studies Abroad in Australia. This lending service is offered and
                    underwritten by IDFC and their affiliates. The detailed terms and condition for the Elanistech
                    Digital Australian Abroad Education Loan Service is available at www.Elanistech.in and shall be read
                    in conjunction with the applicable Terms and Conditions for the relevant loan product offered by
                    IDFC and their affiliates.
                    <br>
                    <br> Thus, you agree and acknowledge that Elanistech shall not be responsible or liable for any
                    dispute, questions, query, claims, complaint, litigation, or clarification arising from or in
                    relation to such loan products or lending services.
                    <br>
                    <br> You are advised to carefully review and agree to all the Terms and conditions made available to
                    you by IDFC including the terms accessible at www.idfcfirstbank.com.
                    <br>
                    <br>



                    <b> Elanistech Global Services – Foreign Currency Transfers &amp; Exchange </b>
                    <br> Elanistech, in
                    partnership with Ziksu Capital Ltd. provides a digital transactional banking account which can be
                    used to transfer funds in near real time between India and Australia with best-in-class features.
                    <br>
                    <br>


                    <b> Elanistech Bill Payment Services </b> 
                    <br>Elanistech provides a facility to its Users on the Website
                    to view bills or pre-paid plans and make payments to Billers and receive other ancillary services.
                    Such services are provided through Third-party aggregators with whom Elanistech has contractual
                    arrangements. The Terms and conditions for such promotional rewards are provided in the relevant
                    section of the T&amp;C.
                    <br>
                    <br>


                    <b> Referral Arrangements </b> 
                    <br>Elanistech has entered into contractual arrangements with third-party
                    service providers wherein Elanistech shall be acting as a Referrer and will introduce the customer /
                    user to the third-party provider. Once customers have been referred, they are solely responsible for
                    any and all interactions with the third-party and understand that any further action and engagement
                    is based solely on their own decisions.
                    <br>
                    <br>

                    <b> Rewards and Other Services </b> 
                    <br>Elanistech may from time to time provide incentives and/or
                    rewards to users for any referral activity. The Terms and conditions for such promotional rewards
                    will be clearly stated on the Elanistech website and will be provided, to be read in conjunction
                    with these T&amp;C’s.
                    <br>
                    <br>



                    <b> Eligibility and Registration including Third-party T&amp;C </b>
                    <br> By accepting these T&amp;C, You hereby declare and confirm that:
                    <br> • You are a resident of India,
                    <br> • Above 18 (Eighteen) years of age,
                    <br> • Have the capacity to enter a legally binding contract as specified under the Indian Contract
                    Act, 1872, while availing the Services offered by the Company.
                    <br> • You are not barred or otherwise legally prohibited from accessing or using the Services under
                    the laws of India or any applicable law.
                    <br>
                    <br> To use the Elanistech products and Services, You need to register on the Elanistech Website and
                    provide Us with accurate and complete information. You may always be required to create an account
                    over the Website and to keep your account and contact information complete and updated. Elanistech
                    reserves the right to terminate any account if found to contain incorrect and/or outdated
                    information. For creation of such an account, you shall not infringe upon the intellectual property
                    rights of any third- party and shall not use the same for any unlawful purpose. For availing the
                    Services, additional Terms and conditions will apply. Kindly read these additional Terms and
                    conditions. You shall be solely responsible for maintaining the confidentiality of your password and
                    Login ID that allows you to access the Service and Website. The information provided by you for
                    creation of your account shall be considered as Registration information. You shall be responsible
                    for all activities that occur through your account or password. You agree to notify Elanistech
                    immediately of any unauthorized use of your account or any other breach of security. Elanistech
                    shall not be liable for any unauthorized use or access of your account.
                    <br>
                    <br> For providing or completion of the Services, Elanistech may facilitate provision of third-
                    party products or services to you within the Website or redirect you to such third- party
                    application and website. To use these third-party products or services, you may need to accept
                    additional Terms and conditions and meet additional requirements as specified on their mobile
                    application and website. Any redirection to a third-party page shall be governed by their Terms and
                    conditions and Elanistech shall not be responsible for the same. You further acknowledge and agree
                    that Company shall not be responsible or liable, directly, or indirectly, for any damage or loss
                    caused or alleged to be caused by or in connection with use of or reliance on any such content,
                    goods, or services available on or through any such site or resource.
                    <br>
                    <br> Your interaction with any third-party accessed through the Website is at your own risk, and
                    Company will have no liability with respect to the acts, omissions, errors, representations,
                    warranties, breaches, or negligence of any such third parties or for any personal injuries, death,
                    property damage, or other damages or expenses resulting from your interactions with the third
                    parties.

                    <br>
                    <br>


                    <b> Proprietary Rights , Website access and Communication Policy </b>

                    <br>You acknowledge and agree that Elanistech owns all rights, title, and interest in and to the
                    Services and the Website, including any intellectual property rights which subsist in the Services
                    (whether registered or not) and the website. You further acknowledge that the Services may contain
                    information which is designated confidential by Elanistech and that you shall not disclose such
                    information without Elanistech's prior written consent. Elanistech grants you a limited license to
                    access and make personal use of the Website and the Services. This license does not confer any right
                    to download, copy, create a derivative work from, modify, reverse engineer, reverse assemble or
                    otherwise attempt to discover any source code, sell, assign, sub-license, grant a security interest
                    in or otherwise transfer any right in the Services. You do not have the right to use any of
                    Elanistech's trade names, trademarks, service marks, logos, domain names, and other distinctive
                    brand features. You do not have the right to remove, obscure, or alter any proprietary rights
                    notices (including trademark and copyright notices), which may be affixed to or contained within the
                    Services. You will not copy or transmit any of the Services. You shall not use this Website or its
                    contents for any commercial purpose or make any speculative, false, or fraudulent transaction.
                    <br>
                    <br> By making use of the Website, and furnishing your personal/contact details, you hereby agree
                    that you are interested in the Services, offers, campaigns etc. that Elanistech or any other
                    Third-party may offer/provide/share/send to you from time to time through any means including but
                    not limited to telephone, SMS (short messaging service), electronic mail (e-mail), WhatsApp or any
                    other messaging service/mobile application or any other physical, electronic or digital means/mode.
                    You hereby agree that Elanistech may contact you either electronically or through phone, to
                    understand your interest in the selected products and Services and to fulfil your demand or complete
                    your application for the Services/Products and to assist you for customer servicing. Further you
                    also expressly agree and authorize Elanistech and its partners, service providers, vendors and other
                    third parties to contact you for the purpose of offering or inviting your interest in availing other
                    products or services offered by third parties, or for sending other marketing campaigns, offers, or
                    any other information either on the Website or through other means including but not limited to
                    telephone, SMS (short messaging service), electronic mail (e-mail), WhatsApp or any other messaging
                    service/mobile application or any other physical, electronic or digital means/mode.
                    <br>
                    <br>You will indemnify and hold harmless Elanistech and the SMS/e-mail service provider including
                    its officials from any damages, claims, demands, proceedings, losses, costs, charges and expenses
                    whatsoever including legal charges and attorney’s fees which Elanistech or the SMS/e-mail service
                    provider may at any time incur, sustain, suffer or be subjected to as a consequence of, or arising
                    out of, any of the following: (i) misuse by You or improper or fraudulent information provided by
                    You; (ii) incorrect number or a number that belongs to an unrelated Third-party provided by You. You
                    agree and authorize Elanistech to share your information, with its group companies, vendors, service
                    providers of Elanistech and other third parties, in so far as required for marketing
                    purposes/offering/cross-selling various products and services and/or to provide you with various
                    value-added services, in association with the Services selected by you or generally otherwise. You
                    agree to receive communications through emails, telephone and/or SMS, from Elanistech or third
                    parties. You also agree that Elanistech reserves the right to make your details available to its
                    partner banks/financial institutions, vendors, service providers, business partners, agents or any
                    other Third-party and that you may be contacted by such partners and/or the Third-party information
                    through email, telephone and/or SMS.
                    <br>
                    <br> You agree and acknowledge that for undertaking any financial transaction through the Website or
                    for availing its Products, Elanistech may undertake client/customer due diligence measurers and seek
                    mandatory information required for Know-Your-Customer (‘KYC’) purpose which as a customer you are
                    obliged to give, while facilitating your request such Products and Services/requirements with the
                    banks/financial institutions, in accordance with applicable law and regulations. Elanistech may
                    obtain sufficient information to establish, to its satisfaction or the banks/financial institutions,
                    the identity of each new customer/user, and to ascertain the purpose of the intended nature of
                    relationship between you and the bank/financial institution. You agree and acknowledge that
                    Elanistech can undertake enhanced due diligence measures (including any documentation), to satisfy
                    itself relating to customer due diligence requirements in line with the requirements and obligations
                    under applicable laws and regulations.
                    <br>
                    <br>



                    <b> Termination and Violation of T&amp;C </b>
                    <br> We reserve the right, in our sole and absolute discretion, to suspend or terminate your use of
                    one or more Elanistech Services or Product, without notice and without liability to you or any third
                    party, for any reason, including without limitation inactivity or violation of these T&amp;C or
                    other applicable policies we may publish from time to time. Any termination of the Services or
                    Product may also be effectuated through the partnered Banks or financial institutions of Elanistech
                    and Elanistech shall not be held liable for the same.
                    <br>
                    <br>You agree and understand to abide by all the terms and conditions of the partnered Banks and
                    financial institution upon termination of the services of Elanistech rendered under this T&amp;C.
                    Any suspected fraudulent, abusive, or illegal activity may be referred to appropriate law
                    enforcement authorities. These remedies are in addition to any other remedies Elanistech may have at
                    law or in equity. Upon termination for any reason, You agree to immediately stop using the
                    Elanistech Services and Product.
                    <br>
                    <br>


                    <b>Indemnification, Limitation of liability and Disclaimers</b>
                    <br> You agree to indemnify and hold Elanistech (and its officers, directors, agents and employees)
                    harmless from any and against any claims, causes of action, demands, recoveries, losses, damages,
                    fines, penalties or other costs or expenses of any kind or nature, including reasonable attorneys'
                    fees, or arising out of or related to your breach of this Terms, your violation of any law or the
                    rights of a third party, or your use of the Website, any dispute or litigation caused by your
                    actions or omissions, your negligence and fraud committed by you.
                    <br>
                    <br> Notwithstanding anything to the contrary, Elanistech (including its officers, directors,
                    employees, representatives, affiliates, group companies and providers) will not be responsible or
                    liable for (a) any injury, death, loss, claim, act of god, accident, delay, or any direct, special,
                    exemplary, punitive, indirect, incidental or consequential damages of any kind (including without
                    limitation lost profits or lost savings), whether based in contract, tort, strict liability or
                    otherwise, that arise out of or is in any way connected with any failure or delay (including without
                    limitation the use of or inability to use any component of the Website including the Products and
                    Services), or any use of the Website or content, or the performance or non-performance by us or any
                    provider, even if we have been advised of the possibility of damages to such parties or any other
                    party, or any damages to or viruses that may infect your computer equipment or other property as the
                    result of your access to the Website or your downloading of any content from the Website.
                    <br>
                    <br> The Website may provide links to other third-party websites. However, since Elanistech has no
                    control over such third-party websites, you acknowledge and agree that Elanistech is not responsible
                    for the availability of such third-party websites and does not endorse and is not responsible or
                    liable for any content, advertising, products, or other materials on or available from such third-
                    party websites.
                    <br>
                    <br> IN NO EVENT SHALL THE Elanistech TOTAL CUMULATIVE LIABILITY ARISING FROM OR RELATING TO THESE
                    T&amp;C EXCEED THE NET FEES Elanistech HAS ACTUALLY RECEIVED AND RETAINED FROM YOUR VALID
                    TRANSACTIONS DURING THE THREE- MONTH PERIOD IMMEDIATELY PRECEDING THE DATE OF THE CLAIM.
                    <br>
                    <br> The Website and all content and Services including the Products provided on the Website are
                    provided on an ‘as is’ and ‘as available’ basis. Elanistech expressly disclaims all warranties of
                    any kind, whether express or implied, including, but not limited to, the implied warranties of
                    merchantability, fitness for a particular purpose, title, non- infringement, and security and
                    accuracy, as well as all warranties arising by usage of trade, course of dealing, or course of
                    performance. Elanistech makes no warranty, and expressly disclaims any obligation, that:
                    <br> a. the content will be up- to-date, complete, comprehensive, accurate or applicable to your
                    circumstances.
                    <br> b. the Website will meet your requirements or will be available on an uninterrupted, timely,
                    secure, or error-free basis.
                    <br> c. the results that may be obtained from the use of the Website or any Services offered through
                    the Website will be accurate or reliable; or
                    <br> d. the quality of any products, services, information, or other material obtained by you
                    through the Website will meet your expectations.
                    <br>
                    <br>



                    <b> Modification and Amendment  </b>
                    <br> Company reserves the right to make changes to the Website, related policies and agreements,
                    this T&amp;C and the Privacy Policy at any time as it deems fit and proper, including but not
                    limited to comply with changes in law or regulation, correct inaccuracies, omissions, errors or
                    ambiguities, reflect changes in the process flow, scope and nature of the Services and ancillary
                    services, company re-organization, market practice or customer requirements. Upon any change,
                    Company will notify the updated Terms on the Website or other means. Your continued use of the
                    Services and ancillary services constitutes acceptance of the changes and an agreement to be bound
                    by Terms, as amended. If you do not agree to the changes, you may please discontinue your use of the
                    Services and ancillary Services.
                    <br>
                    <br> Company reserves the right to discontinue or suspend, temporarily or permanently, the Services
                    including ancillary services, by giving reasonable notice, on a best effort basis, unless it is
                    merely to change certain features/contents of the Services and/or Website or maintain the security
                    and integrity of the Services. You agree that Company will not be liable to you in any manner
                    whatsoever for any modification or discontinuance of the Services.
                    <br>
                    <br> You agree not to use the Services and ancillary services for illegal purposes or for the
                    transmission of material that is unlawful, harassing, libelous (untrue and damaging to others),
                    invasive of another's privacy, abusive, threatening, or obscene, or that infringes the rights of
                    other.
                    <br>
                    <br>


                    <b> Force Majeure </b>
                    <br> If performance of Services/Website by Elanistech is prevented, restricted, delayed or
                    interfered with by reason of and including, but not limited to, labour disputes, strikes, acts of
                    God, floods, lightning, severe weather, shortages of materials, rationing, inducement of any virus,
                    malware, trojan or other disruptive mechanisms, pandemic, epidemic, any event of hacking or illegal
                    usage of the Website, utility or communication failures, earthquakes, war, revolution, acts of
                    terrorism, civil commotion, acts of public enemies, blockade, embargo or any law, order,
                    proclamation, regulation, ordinance, demand or requirement having legal effect of any government or
                    any judicial authority or representative of any such government, or any other act whatsoever,
                    whether similar or dissimilar to those referred to in this clause, which are beyond the reasonable
                    control of Elanistech and could not have been prevented by reasonable precautions, then Elanistech
                    shall be excused and discharged from such performance to the extent of and during the period of such
                    force majeure event, and such non-performance shall, in no manner whosoever, amount to a breach by
                    Elanistech of its obligations herein or incur any legal liability on Elanistech.
                    <br>
                    <br>

                    <b>Privacy </b>
                    <br> In addition to these T&amp;C, you agree to our privacy policy available at www.Elanistech.in
                    The Privacy Policy applies to current and former visitors to our Website. By visiting and/or
                    using/downloading our Website, you are accepting and consenting to the practices described in the
                    Privacy Policy. The statements &amp; procedures mentioned under the Privacy Policy must be read in
                    conjunction with these term &amp; conditions. GOVERNING
                    <br>
                    <br>
                    <b> Law and Jurisdiction </b>
                    <br>Any issues and disputes arising out of these T&amp;C &amp; other policies including any other
                    disputes involving you and the company shall be governed by and construed in accordance with the
                    laws of India. You agree that any legal action or proceedings arising out of the above may be
                    brought exclusively in the competent courts having jurisdiction in Bangalore (Karnataka), India and
                    irrevocably submit themselves to the jurisdiction of such courts. You understand that We may need to
                    share information that you provided on the Website in order to satisfy applicable law, regulation,
                    legal process or an enforceable governmental request.
                    <br>
                    <br>

                    <b> Assignment and Waiver </b>
                    <br> These T&amp;C and any rights and licenses granted hereunder, may not be transferred, or
                    assigned by you. We may assign, in whole or in part, the benefits or obligations of this Agreement.
                    We may, at our discretion, provide an intimation of such assignment to you, which will be binding on
                    the parties to these Terms and conditions.
                    <br>
                    <br> Unless otherwise expressly stated in this Agreement, the failure to exercise or delay in
                    exercising a right or remedy under these T&amp;C will not constitute a waiver of the right or remedy
                    or a waiver of any other rights or remedies, and no single or partial exercise of any right or
                    remedy under these T&amp;C will prevent any further exercise of the right or remedy or the exercise
                    of any other right or remedy.
                    <br>
                    <br>


                    <b> Severability, Survival,Headings and Entire Agreement </b>
                    <br> If any provision of this Agreement is held to be unlawful, void, invalid or otherwise
                    unenforceable, then that provision will be limited or eliminated from this Agreement to the minimum
                    extent required, and the remaining provisions will remain valid and enforceable. Upon termination of
                    this Agreement, any provision which, by its nature or express terms should survive, will survive
                    such termination or expiration as applied to transfers and relationship prior to such termination or
                    expiration.
                    <br>
                    <br> The heading references herein are for convenience purposes only and they do not constitute a
                    part of these T&amp;Cs and will not be deemed to limit or affect any of the provisions hereof.
                    <br>
                    <br> This Agreement is the entire agreement between You and Elanistech relating to the subject
                    matter hereof and this Agreement will not be modified except by a change to this Agreement made by
                    Elanistech in accordance with the terms of this Agreement.
                    <br>
                    <br> Last updated on 1st July, 2024




                </p>





            </div>
        </div>
        <!-- End Section Text -->


    </div>

</div>