
h1 {
  font-size: 18px!important;
}
h1 {
  font-size: 18px !important;
}


.selectedtab {
  padding: 10px 30px;
  border-radius: 100px;
  background: #B3E4FD;
}

.content-paragraph b {
  display: inline-block;
  margin-bottom: 10px;
}

/* ---------------------- Responsive------------ */
@media (max-width: 992px) {

  .selectedtab-head-text {
    font-size: 45;
    line-height: 50px;
  }
  
}

@media (max-width: 768px) {

  .selectedtab-label {
    font-size: 14px;
    text-align: left;
  }

  .nav-label {
    font-size: 16px;
  }

  .text-common,
  .text-normal {
    font-size: 14px;
  }



  .feature-subtext {
    font-size: 14px;
    line-height: 20px;
  }


}


@media (max-width: 576px) {
  .selectedtab-head-text {
    font-size: 24px;
    line-height: 32px;
  }


}

@media (max-width: 480px) {
  .selectedtab-head-text {
    font-size: 28px;
    line-height: 32px;
  }

.nav-label {
    font-size: 14px;
}

.legal-subhead{
  font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
}