<div class="landing-page ">

  <!-- Hero Section -->
  <section id="home" class="hero-section">
     <!-- Accessible alt text for background image -->
    <span class="sr-only">Brand Ambassador Justin Langer showcasing Nivicap App</span>

    <div class=" hero-content">
      <div class="common-container header-container">
        <div class="row gap-md-4 home-text">

          <h1 class="display-header pb-md-1">
            Education Loans<br> for Studying in <br>Australia.
          </h1>
          <p class="text-common sub-head pb-md-3">
            Pursue your dream confidently with loans and supporting services designed specifically for Indian
            students going to Australia. 
          </p>
          <!-- <div class="row ">
            <div class="col"><button class="btn btn-danger btn-lg px-5">Get Started</button></div>
          </div> -->
        </div>
      </div>
      <div class="container">
        <div class=" nav-bottom d-flex justify-content-center align-items-center">
          <nav class="navbar navbar-expand-lg navbar-light bg-white  bottom-nav"
            [ngClass]="{ 'fixed-top': isScrolled }">
            <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
              <div class="nav-logo d-flex align-items-center">
                <img src="assets/images/logo.svg" alt="logo" class="logo" width="41" height="50">
                <span class="logo-label">nivi capital</span>

              </div>
              <!-- Toggle Button (for mobile) -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
                aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div id="navbarNav2" class="collapse navbar-collapse justify-content-end">
                <div class="right-bar">

                  <ul class="navbar-nav align-items-center justify-content-center mb-2 mb-lg-0 ">
                    <li class="nav-item mx-2" [class.active]="activeSection === 'home'">
                      <a class="nav-link nav-label " (click)="scrollToSection('home')">HOME</a>
                    </li>
                    <li class="nav-item mx-2" [class.active]="activeSection === 'about'">
                      <a class="nav-link nav-label" (click)="scrollToSection('about')">ABOUT US</a>
                    </li>
                    <li class="nav-item mx-2" [class.active]="activeSection === 'features'">
                      <a class="nav-link nav-label" (click)="scrollToSection('features')">FEATURES</a>
                    </li>
                    <li class="nav-item mx-2" [class.active]="activeSection === 'product'">
                      <a class="nav-link nav-label" (click)="scrollToSection('product')">PRODUCT</a>
                    </li>
                    <li class="nav-item mx-2" [class.active]="activeSection === 'contact'">
                      <a class="nav-link nav-label" (click)="scrollToSection('contact')">CONTACT</a>
                    </li>

                  </ul>
                  <div class="btn d-none d-lg-block d-flex justify-content-end p-0">

                    <a href="#" class="btn btn-danger px-4 py-2">Download APP</a>

                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

      </div>
    </div>

  </section>

  <!-- About Section -->
  <section id="about" class="about">

    <div class="container-fluid py-md-5">
      <div class="text-center mt-5 mb-3 mb-md-5 sectiontab">
        <div class="selected-tab d-flex align-items-center">
          <h2 class=" selectedtab selectedtab-label">ABOUT US</h2>


          <h3 class="selectedtab-head-text">
            Why Choose NiviCap<br>
            <span>to Excel in </span> <span
              style="color: #F8192A;font-weight: 700;">Australia.</span>
          </h3>
        </div>
        <div class="list-data d-flex justify-content-center ">
          <div class=" d-flex justify-content-center flex-column align-items-lg-center">
            <ul class="text-common d-flex gap-md-5">
              <li>Dedicated focus only on Australia.</li>
              <li>Hand-picked network of trusted Aussie partners. </li>
            </ul>
            <ul class="text-common d-flex gap-md-5">
              <li>Simplified processes for Indian families.</li>
              <li>Services based on first-hand experience of Indian students in Australia. </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="common-container">
        <div class="row align-items-center g-md-4">
          <div class="col-lg-4 col-md-12 col-12 p-lg-3 ">
            <div class="image-card">
              <img src="assets/opt_images/about1.webp" loading="lazy" alt="Office">
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-12 p-lg-3 ">
            <div class="image-card ">
              <img src="assets/opt_images/about2.webp" loading="lazy" alt="Workspace">
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-12 p-lg-3 ">
            <div class="image-card">
              <img src="assets/opt_images/about3.webp" loading="lazy" alt="Office">
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>

  <!-- Transforming Industries Section -->
  <section id="features" class="features py-3 py-md-5">


    <!-- Main Content -->
    <div class="container-fluid">
      <!-- Header Section -->
      <div class="text-center mt-md-5 mt-sm-5 sectiontab">
        <div class="selected-tab d-flex align-items-center">
          <h2 class=" selectedtab selectedtab-label">FEATURES</h2>


          <h3 class="selectedtab-head-text">
            <span >Education Loan Features for </span> <span
              style="color: #F8192A;font-weight: 700;"> Indian Students.</span>

          </h3>
        </div>
        <p class="text-common">
          You can skip the challenges students and parents face when securing education loans.<br>
          Get loans so nice, you wanna study twice!
        </p>
      </div>

      <!-- Features Grid -->
      <div class="features-section-bg">
        <div class="common-container row align-items-center justify-content-center g-4">
          <!-- Left Column - 3 Feature Boxes -->
          <div class="col-lg-4 feature-columns order-2 order-lg-1">
            <div class="feature-card">
              <div class="d-flex align-items-start flex-column ">

                <div class="feature-info">
                  <h4 class="feature-head">Attractive student Loans interest rates </h4>
                  <p class="feature-subtext">Transparent and without hidden charges </p>
                </div>
              </div>
              <div class="left-connector"></div>
            </div>

            <div class="feature-card">
              <div class="d-flex align-items-start flex-column ">

                <div class="feature-info">
                  <h4 class="feature-head">100% financing </h4>
                  <p class="feature-subtext">Covers transport, course fees, study material, visa, and other expense.
                  </p>
                </div>
              </div>
              <div class="left-connector"></div>
            </div>
            <div class="feature-card">
              <div class="d-flex align-items-start flex-column ">

                <div class="feature-info">
                  <h4 class="feature-head">No foreclosure/part-payment
                    charges </h4>
                  <p class="feature-subtext">Repay your loan flexibly </p>
                </div>
              </div>
              <div class="left-connector"></div>
            </div>
          </div>

          <!-- Center Column - Phone Mockup -->
          <div class="col-lg-4 text-center d-flex justify-content-center order-1 order-lg-2">
            <img class="mob-hook" src="assets/opt_images/mobile.webp" alt="App screen 1">

          </div>

          <!-- Right Column - 3 Feature Boxes -->
          <div class="col-lg-4 feature-columns order-3 order-lg-3">
            <div class="feature-card">
              <div class="d-flex align-items-start flex-column ">

                <div class="feature-info">
                  <h4 class="feature-head">No collateral loans up to ₹45L </h4>
                  <p class="feature-subtext">Keep your family assets safe<br><span style="visibility: hidden;">a</span>
                  </p>
                </div>
              </div>
              <div class="right-connector"></div>
            </div>
            <div class="feature-card">
              <div class="d-flex align-items-start flex-column ">

                <div class="feature-info">
                  <h4 class="feature-head">Tax benefits </h4>
                  <p class="feature-subtext">Get income tax benefits under section 80E <br><span
                      style="visibility: hidden;">a</span></p>
                </div>
              </div>
              <div class="right-connector"></div>
            </div>
            <div class="feature-card">
              <div class="d-flex align-items-start flex-column ">

                <div class="feature-info">
                  <h4 class="feature-head">Fully digital process </h4>
                  <p class="feature-subtext">No paperwork, no office visits, only fast and timely response. <br><span
                      style="visibility: hidden;">a</span></p>
                </div>
              </div>
              <div class="right-connector"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Empowering Section -->
  <section id="product" class="bg-white">
    <div class="container-fluid py-md-3">
      <div class="text-center mt-md-5 mb-md-5 sectiontab">
        <div class="selected-tab d-flex align-items-center">
          <div><h2 class=" selectedtab selectedtab-label">PRODUCT</h2></div>


          <h3 class="selectedtab-head-text">
            All Your Aussie Essentials in <span style="color: #F8192A;font-weight: 700;">One App.</span>
          </h3>
        </div>
        <p class="text-common">
          This is just the start. <br class="d-none d-sm-block">
          With our host of services, you’ll be an Aussie star!
        </p>
      </div>
      <div class="common-container ">
        <div class="row">

          <div class="col-12 col-md-4 text-center">
            <div class="card service-card">
              <div class="card-body service-card-body d-flex align-items-center flex-column justify-content-center">
                <div class="service-icon"><img src="assets/images/teacher.svg" height="46" width="46" alt="product1"></div>
                <div class="product-info">
                  <h4 class="product-img-text">Education Loans</h4>
                  <p class="text-normal">Simplified, transparent,<br>student-friendly loans. </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 text-center">
            <div class="card service-card">
              <div class="card-body service-card-body d-flex align-items-center flex-column justify-content-center">
                <div class="service-icon"><img src="assets/images/money-send.svg" height="46" width="46" alt="product2"></div>
                <div class="product-info">
                  <h4 class="product-img-text">Forex Service</h4>
                  <p class="text-normal">Seamless and secure international<br>money transfers. </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 text-center">
            <div class="card service-card">
              <div class="card-body service-card-body d-flex align-items-center flex-column justify-content-center">
                <div class="service-icon"><img src="assets/images/medal-star.svg" height="46" width="46" alt="product3"></div>
                <div class="product-info">
                  <h4 class="product-img-text">Loyalty & Rewards</h4>
                  <p class="text-normal">Unlock exclusive benefits for using<br> NiviCap services. </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="Testimonial product-img-box testimonial-section">
     <!-- Accessible alt text for background image -->
    <span class="sr-only">Brand ambassador Justin Langer welcoming you to Australia</span>

    <div class="testimonial-wrapper">



      <div class="testimonial-overlay">
        <div class="d-flex"><img class="vector" src="assets/images/Vector1.svg" alt="Quote start">


          <div class="img-text">
            No bouncers, googlies, or yorkers. It's a straight bat with NiviCap!
            <img class="vector-end" src="assets/images/Vector2.svg" alt="Quote end">
          </div>


        </div>
      </div>

    </div>
  </section>



  <!-- Contact Section -->
  <section id="contact" class="">
    <div class="container py-md-5">
      <div class="text-center mt-5 mb-3 mb-md-5 sectiontab">
        <div class="selected-tab d-flex align-items-center">
          <div><h2 class=" selectedtab selectedtab-label">Contact Us</h2></div>


          <h3 class="selectedtab-head-text">
            Get in Touch for an Easy <span style="color: #F8192A;font-weight: 700;">Australia Journey!</span>
          </h3>
        </div>
        <p class="text-common">
          Don’t worry about finances, we’ve got your back. <br class="d-none d-sm-block">
          You focus on experiencing, learning, and growing! </p>
      </div>

      <form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)" id="contactForm">

        <div class="formdata">
          <div class="row justify-content-center">

            <div class="row g-4">
              <div class=" col-md-6 col-sm-12 ">
                <div class="nav-label">Full Name<sup>*</sup></div>

                <input type="text" name="name" ngModel required pattern="^[A-Za-z ]+$"
                  class="form-control form-control-lg feature-subtext" placeholder="Your Name" #name="ngModel">

                <div class="text-danger mt-1" *ngIf="name.invalid && name.touched">
                  <small *ngIf="name.errors?.['required']">Full name is required.</small>
                  <small *ngIf="name.errors?.['pattern']">Only letters, numbers & spaces allowed.</small>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="nav-label">Phone number<sup>*</sup></div>

                <div class="phone-wrapper d-flex align-items-center">

                  <!-- Country Selector -->
                  <div class="country-box d-flex align-items-center">
                    <img src="https://flagcdn.com/w20/in.webp" class="flag-icon" alt="flag">
                    <select class="country-select">
                      <option value="+91" class="text-normal">+91</option>

                    </select>
                  </div>

                  <!-- Mobile Number Input -->
                  <input type="number" name="phone" ngModel required pattern="^[0-9]{10}$"
                    class="form-control mobile-input" placeholder="Enter Mobile number" #phone="ngModel">
                </div>
                <div class="text-danger mt-1" *ngIf="phone.invalid && phone.touched">
                  <small *ngIf="phone.errors?.['required']">Phone number is required.</small>
                  <small *ngIf="phone.errors?.['pattern']">Enter a valid 10-digit number.</small>
                </div>
              </div>

              <div class="col-md-6 mt-4 col-sm-12">
                <div class="nav-label">Email address<sup>*</sup></div>
                <input type="email" name="email" ngModel required class="form-control form-control-lg feature-subtext"
                  placeholder="Email Address" #email="ngModel">
              </div>
              <div class="col-md-6 mt-4 col-sm-12">
                <div class="nav-label">Your query<sup>*</sup></div>
                <input type="text" name="query" ngModel required class="form-control form-control-lg feature-subtext"
                  placeholder="Enter your Query" #query="ngModel">
                <div class="text-danger mt-1" *ngIf="query.invalid && query.touched">
                  <small>Your query is required.</small>
                </div>
              </div>
              <div class="col-12 mt-4 col-sm-12">
                <div class="nav-label">Subject<sup>*</sup></div>
                <input type="text" name="subject" ngModel class="form-control form-control-lg feature-subtext"
                  placeholder="Add Subject" #subject="ngModel">
                <div class="text-danger mt-1" *ngIf="subject.invalid && subject.touched">
                  <small>Subject is required.</small>
                </div>
              </div>
              <div class="col-12 mt-4 col-sm-12">
                <div class="nav-label">Message<sup>*</sup></div>
                <textarea name="message" ngModel required class="form-control form-control-lg feature-subtext" rows="5"
                  placeholder="Tell us how we can help you. Please provide as much detail as possible."
                  #message="ngModel"></textarea>
                <div class="text-danger mt-1" *ngIf="message.invalid && message.touched">
                  <small>Message is required.</small>
                </div>
              </div>
              <div class="col-12 col-sm-12 text-center mt-5">
                <button type="submit" class="btn btn-danger btn-lg submitbtn" [disabled]="contactForm.invalid">Submit
                  Inquiry</button>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- Partners Section -->
  <section id="partner" class="py-md-5">
    <div class="container">
      <div class="text-center mt-5 mb-3 mb-md-5 sectiontab">
        <div class="selected-tab d-flex align-items-center">
          <div><h2 class=" selectedtab selectedtab-label">Partners</h2></div>


          <h3 class="selectedtab-head-text">
            End-to-End Education <span style="color: #F8192A;font-weight: 700;">Financial Services</span>
          </h3>
        </div>
        <p class="text-common">
          Our Indian roots combined with our Aussie connect has enabled us to forge enriching partnerships<br
            class="d-none d-sm-block"> with
          industry leaders on both sides. Allowing us to offer you complete 360° support. </p>
      </div>


      <div class="row mt-4 justify-content-center d-flex gap-3">

        <div class="col-md-4 partnercard d-flex justify-content-center">
          <div class="card border-0 d-flex align-items-center justify-content-center">

            <img src="assets/opt_images/partner1.webp" width="118" height="107" alt="ziksu">

          </div>
        </div>
        <div class="col-md-4 partnercard d-flex justify-content-center">
          <div class="card border-0 d-flex align-items-center justify-content-center">

            <img src="assets/opt_images/partner2.webp" width="224" height="111" alt="idfcbank">

          </div>
        </div>
        <div class="col-md-4 partnercard d-flex justify-content-center">
          <div class="card border-0 d-flex align-items-center justify-content-center">

            <img src="assets/opt_images/partner3.webp" width="312" height="111" alt="ausgrads">

          </div>
        </div>
      </div>
    </div>
  </section>




  <section class="app-download-section py-5">
     <!-- Accessible alt text for background image -->
    <span class="sr-only">Nivicap App login screen-dashboard screen </span>

    <div class="common-container">

        <!-- MOBILE IMAGE (top floating image) -->
    <div class="download-img1 mobile-img"></div>

      <div class="download-card ">
        <div class="row align-items-center">
          <!-- LEFT TEXT -->
          <div class="col-lg-6 col-md-6 col-12 download-left-box order-2 order-lg-1">
            <div class="download-left">
              <div class="download-head-text">
                <p class="text-normal">Download App</p>
                <p class="dwnldapp-headtext">Start Your Aussie<br> Adventure with<br> NiviCap! </p>
              </div>
              <div class="download-subtext">
                <p class="text-common">
                  Your one-stop finance partner for studying in Australia.
                </p>

                   <div class="app-buttons on-card">
                <a href="https://nivicap.com/"><img src="assets/images/appleapp.svg" alt="appleapp"> </a>
                <a href="https://nivicap.com/"><img src="assets/images/googleapp.svg" alt="googleapp"> </a>
              </div>
              </div>

           
            </div>

          </div>

         <!-- RIGHT IMAGE -->
        <div class="col-lg-6 col-md-6 col-12 download-right-box text-center mt-4 mt-lg-0 order-1 order-lg-2">
         
          <div class=" download-img">

          </div>
        </div>
        </div>
      </div>
    </div>
  </section>



 
</div>