@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


.text-common {
  font-family: "DM Sans";
  color: #666771;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.22px;

}

.display-header {
  @extend .text-common;

  color: #F4F6FF;
  font-size: 75px;
  font-weight: 700;
  line-height: 89px;
}

.sub-head {
  @extend .text-common;

  color: #F4F6FF;
  font-size: 24px;
  line-height: 30px;
  /* 125% */
  letter-spacing: 0.24px;
}

.nav-label {
  @extend .text-common;
  color: #25262F;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.selectedtab-label {
  @extend .text-common;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.16px;
}

.selectedtab-head-text {
  @extend .text-common;
  color: #25262F;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 67px;
  letter-spacing: 0.5px;
}

.product-img-text {
  @extend .text-common;
  /* margin-top: 45px; */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.32px;
}

.text-normal {
  @extend .text-common;

  color: #666771;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
}

.feature-head {
  @extend .text-common;

  color: #25262F;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  /* letter-spacing: 0.28px; */
  margin-bottom: 0;
}

.feature-subtext {
  @extend .text-common;
  color: #666771;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.16px;
}

.legal-subhead{
 @extend .text-common;
  color: #25262F;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.loanhead {
  color:  #0D4472;
font-size:  30px;
font-weight: 700;
line-height: 36px; /* 120% */
letter-spacing: 0.3px;
}

p{
  margin-bottom: 0;
}

.common-container {
  margin: 0 160px 0 160px;
  max-width: 100%;

}

@media (max-width: 1200px) {
.common-container {
    margin: 0 80px;
  }
}

@media (max-width: 992px) {

  .common-container {
    margin: 0 40px;
  }
}

@media (max-width: 576px) {
  .common-container {

    margin: 0 40px;
    max-width: 1400px;
  }
}
@media (max-width: 480px) {
  .common-container {
    margin: 15px 15px;
  }
}

@media (max-width: 380px) {

    .common-container {
        margin: 15px 15px;
    }
  }